/*Project: 2
Group: Matthew Trilby-Bassett, Derek Freed, Sebastian Marquez, Michael Reece
Section: M 2:30-3:20 TTR 2:00-3:15
Description: CSS for the movie page requested as per project instructions.*/

body {
	background: url(https://webster.cs.washington.edu/images/moviebg.png);
	background-repeat: repeat;
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

#banner {
	background: url(https://webster.cs.washington.edu/images/rancidbannerbg.png);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#rotten {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
	text-align: center;
	margin-top: 72px;
}


/*defines the section for the review*/
#review {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 4px solid gray;
	border-radius: 20px;
	display: block;
	overflow: hidden;
}

#review > div {
	display: inline-block;
}

/*defines the width of the left section*/
#left_content {
	width: 550px;
}

/*defines the width of the right section*/
#right_content {
	float: right;
	width: 250px;
}

#review_header {
	background: url(https://webster.cs.washington.edu/images/rottenlargebg.png);
	background-repeat: repeat-x;
	height: 83px;
}

#review_header p {
	margin: 0;
	color: white;
}

#review_header img {
	float: left;
}

/*changes the size of the red perecent number*/
#percent {
	font-size: 48pt;
	color: red;
	font-weight: bold;
}

#percent_text {
	font-size: 8pt !important;
}

#test {
	font-size: 8pt;
}

#review_left{
	width: 47%;
	float: left;
	display: inline-block;
	padding-left: 2%;
	padding-right: 2%;
}

#review_right{
	width: 47%;
	float: right;
	padding-right: 2%;
}

#movie_image {
	line-height: 0;
}

/*creates the review quote*/
.quote {
	border: 2px solid gray;
	border-radius: 10px;
	background-color: #E8DC9B;
	font-weight: bold;
	font-size: 8pt;
	box-sizing: border-box;
	padding: 8px;
	float: left;
	width: 100%;
}

.quote img {
	padding-right: 5px;
	display: block;
	float: left;
}

/*edits the reviewer below the quote*/
.reviewer {
	float: left;
	width: 100%;
	margin-top: 0;
	margin-bottom: 20pt;
}

.reviewer img {
	padding-right: 5px;
	float: left;
}

#movie_info {
	background-color: #A2B964;
	margin: 0;
	font-size: 8pt;
	font-family: Arial, sans-serif;
	padding: 10pt;
}

#movie_info dt {
	font-weight: bold;
}

#movie_info dd {
	padding-bottom: 10pt;
}

#movie_info dd > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#movie_info dd > ul > li {
	text-decoration: none;
}

#bottom_content {
	background-color: #A2B964;
	width: 100%;
}

#bottom_content p {
	text-align: center;
	padding: 5px;
	margin: 0;
}

#validators {
	float:	right;
	position: fixed;
	bottom: 0;
	right: 0;
}

/*changes the transparency of html/css pictures*/
#validators img {
	opacity: .5;
}

#validators img:hover{
	opacity: 1;
}