/*CSS FOR PIE.HTML*/

body {
	background-image: url('https://webster.cs.washington.edu/images/silverware.jpg');
	background-repeat: repeat;
}

/*CONTROLS THE DESIGN OF TBSP AND TSP*/
abbr {
	text-decoration: underline;
}

/*CONTROLS BACKGROUND COLOR OF TITLES*/
.section_title a{
	background-color: #F0F0F0;
}

/*UNDERLINES BELOW CERTAIN SECTIONS FOR EFFECT*/
.underlined_section {
	border-bottom: 1px solid black;
}

/*REMOVES PADDING FROM NON BULLTED SECTIONS*/
.no_bullets ul{
	padding: 0;
}

.no_bullets li{
	list-style-type: none;
}

/*ADDS IMAGE TO BULLET ICON*/
ul.pie_bullets {
	list-style-image: url('https://webster.cs.washington.edu/images/pie-icon.gif');
}

/*CONTROLS USER COMMENT SECTION DESIGN*/
#user_comments li{
	list-style-type: none;
	background-color: #FFFFA8; 
	margin-right: 50px;
}


/*FONT SECTION FOR PIE.HTML*/
/*DESCRIPTIONS OF WHAT EACH FONT EFFECTS IS INCLUDED*/

/*CONTROLS THE MAIN FONT OF THE PAGE, OVERRIDDEN BELOW*/
*{
	font-family: Georgia, Garamond, sans-serif;
	font-size: 11pt;
	color: #404040;
}

/*CONTROLS LINK COLOR, UNIVERSAL FOR THE PAGE*/
a{
	color: #A4A400;
}

/*CONTROLS THE SECTION FONTS AND REACTIONS TO CLICKS */
.section_title, .section_title a, .section_title a:hover, .section_title a:visited{
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	text-decoration: underline;
	font-size: 18pt;
	font-weight: normal;
	text-align: left;
	letter-spacing: .25em; 
}

/*SUB HEADING UPPERCASE RULE*/
.section_title {
	text-transform: uppercase;
}

/*MAIN HEADING FONT EFFECTS*/
#main_title{
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}